/* line 1, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
body {
  background: url(../img/bg.jpg) repeat-x scroll left top; }

/* line 5, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
header.masthead {
  margin: 5em auto 2em; }
  /* line 9, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
  header.masthead h1 {
    color: #454545;
    font-family: 'Lato', Helvetica, Arial;
    font-weight: 700;
    font-size: 8em;
    text-align: center; }
  /* line 17, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
  header.masthead h2 {
    color: #656565;
    font-family: 'Lato', Helvetica, Arial;
    font-weight: 300;
    font-size: 4em;
    line-height: 2em;
    text-align: center; }

/* line 27, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
div.btn-group {
  margin: 0 0 2.5em 0; }
  /* line 31, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
  div.btn-group a {
    font-size: 1.5em;
    font-family: 'Lato', Helvetica, Arial;
    font-weight: 300; }

/* line 38, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
#calc.well {
  min-height: 12.5em; }

/* line 42, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
h3 {
  color: #08C;
  font-family: 'Lato', Helvetica, Arial;
  font-weight: 700;
  font-size: 2em;
  line-height: 2.5em; }

/* line 50, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
label {
  display: inline;
  font-family: 'Lato', Helvetica, Arial;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 3.0em; }

/* line 58, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
label.error {
  color: #b94a48;
  display: block;
  font-family: 'Lato', Helvetica, Arial;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.1em; }

/* line 67, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
input {
  display: inline;
  font-family: 'Lato', Helvetica, Arial;
  font-weight: 700;
  font-size: 1.25em !important;
  height: 3em !important; }

/* line 75, /Users/nmodesto/Dropbox/Development/Projects/video-compression-calc/scss/style.scss */
#cfs, #cbr {
  margin: 2em 0 0 0; }
